@{
    ViewBag.Title = "Message Board";
    Layout = "~/Views/Shared/_Layout.cshtml";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message Board</title>
</head>
<body>
    <div class="setup-container"
    <div class=" = section-header">
    <h2>Message board</h2>
    </div>
    </div>
</body>
</html>
