@{
    ViewBag.Title = "Activity Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="setup-container">
    <div class="section-header">
        <h2>Activity Details</h2>
    </div>
</div>
